# AuroraHunters Telegram Bot configuration file.
# Here you can configure your bot by filling required parameters.
# Please complete all fields to start your bot.
#################################################################
#
# PostgreSQL credentials
db.host = jdbc:postgresql://postgres:5432/aurora
db.login = postgres
db.password = postgres

# Telegram Bot api required fields
bot.username = @botusername
bot.token = YOUR-TELEGRAM-APIKEY

# Project website
bot.site = yoursite.com

# Notification interval in minutes
notif.interval = 15

# Notification ranges for each of three solar wind values
notif.top.density = 15.1
notif.top.speed = 501.0
notif.top.bz = -5.1

# Database filling from JSON (id) where id=1 is 5 minutes;
# id=2 is 2 hours; id=3 is 1 day (recommended for each start);
# id=4 is a last 7 days. Recommended when the bot was offline during several days. Bot will fetch data from NOAA servers and fill the database during about 5-7 minutes.
bot.recovery = 3

#################################################################
#
# Sources configuration.
#
# NOAA DSCOVR - 5 minutes json
json.mag.5min = https://services.swpc.noaa.gov/products/solar-wind/mag-5-minute.json
json.plasma.5min = https://services.swpc.noaa.gov/products/solar-wind/plasma-5-minute.json
# NOAA DSCOVR - 2 hours json
json.mag.2h = https://services.swpc.noaa.gov/products/solar-wind/mag-2-hour.json
json.plasma.2h = https://services.swpc.noaa.gov/products/solar-wind/plasma-2-hour.json
# NOAA DSCOVR - 24 hours json
json.mag.24h = https://services.swpc.noaa.gov/products/solar-wind/mag-1-day.json
json.plasma.24h = https://services.swpc.noaa.gov/products/solar-wind/plasma-1-day.json
# NOAA DSCOVR - 7 days json
json.mag.7day = https://services.swpc.noaa.gov/products/solar-wind/mag-7-day.json
json.plasma.7day = https://services.swpc.noaa.gov/products/solar-wind/plasma-7-day.json
# Magneteometers source urls (1 hour source).
source.magn.kev.1h = https://space.fmi.fi/image/realtime/UT/KEV/KEVdata_01.txt
source.magn.ouj.1h = https://space.fmi.fi/image/realtime/UT/OUJ/OUJdata_01.txt
source.magn.han.1h = https://space.fmi.fi/image/realtime/UT/HAN/HANdata_01.txt
source.magn.nur.1h = https://space.fmi.fi/image/realtime/UT/NUR/NURdata_01.txt
# Magneteometers source urls (24 hour source).
source.magn.kev.24h = https://space.fmi.fi/image/realtime/UT/KEV/KEVdata_24.txt
source.magn.ouj.24h = https://space.fmi.fi/image/realtime/UT/OUJ/OUJdata_24.txt
source.magn.han.24h = https://space.fmi.fi/image/realtime/UT/HAN/HANdata_24.txt
source.magn.nur.24h = https://space.fmi.fi/image/realtime/UT/NUR/NURdata_24.txt
#################################################################
#
# Magneometer sources enable/disable. By enable/disable unnecessary sources you can save CPU and RAM.
#
source.mahn.kev.enable = true
source.mahn.ouj.enable = true
source.mahn.han.enable = true
source.mahn.nur.enable = true
#
#################################################################
#
# Solar wind parameters chart configuration
#
# chart color settings for each triggering range (RGB plus alpha channel)
graph.color.quiet = 29, 255, 0, 20
graph.color.moderate = 255, 216, 0, 50
graph.color.increased = 255, 102, 0, 100
graph.color.high = 255, 0, 0, 100
graph.color.extreme = 255, 0, 222, 80

# density chart trigger ranges
graph.range.density.quiet.start = -10
graph.range.density.quiet.end = 4
graph.range.density.moderate.start = 4
graph.range.density.moderate.end = 9
graph.range.density.increased.start = 9
graph.range.density.increased.end = 13
graph.range.density.high.start = 13
graph.range.density.high.end = 18
graph.range.density.extreme.start = 18
graph.range.density.extreme.end = 150

# speed chart trigger ranges
graph.range.speed.quiet.start = 0
graph.range.speed.quiet.end = 400
graph.range.speed.moderate.start = 400
graph.range.speed.moderate.end = 550
graph.range.speed.increased.start = 550
graph.range.speed.increased.end = 600
graph.range.speed.high.start = 600
graph.range.speed.high.end = 650
graph.range.speed.extreme.start = 650
graph.range.speed.extreme.end = 10000

# bz_gsm chart trigger ranges
graph.range.bz.quiet.start = -1.1
graph.range.bz.quiet.end = 50
graph.range.bz.moderate.start = -3.2
graph.range.bz.moderate.end = -1.1
graph.range.bz.increased.start = -4.8
graph.range.bz.increased.end = -3.2
graph.range.bz.high.start = -8.4
graph.range.bz.high.end = -4.8
graph.range.bz.extreme.start = -50
graph.range.bz.extreme.end = -8.4

# bt chart trigger ranges
graph.range.bt.quiet.start = -50
graph.range.bt.quiet.end = 0
graph.range.bt.moderate.start = 0
graph.range.bt.moderate.end = 5
graph.range.bt.increased.start = 5
graph.range.bt.increased.end = 10
graph.range.bt.high.start = 10
graph.range.bt.high.end = 15
graph.range.bt.extreme.start = 15
graph.range.bt.extreme.end = 1000

# chart preloaders configuration
graph.preloader.enabled = true
graph.preloader.timezone = +03:00

# chart preloader/cache folder
graph.preloader.folder = .cache/
